<% unless params[:controller] == 'notes' && params[:action] == 'index' %>
	<section class="p-6">
		<%= link_to "Back", notes_path, :class => "align-start py-1 bg-gray-400 hover:bg-gray-500 text-xs text-white font-bold py-1 px-3 rounded" %>
	</section>
<% end %>
