<% unless params[:controller] == 'notes' && params[:action] == 'index' %>
	<section class="px-6 py-8">
		<%= link_to "Back", notes_path, :class => "block w-24 p-2 text-sm text-center font-bold rounded text-white bg-gray-400 hover:bg-gray-500" %>
	</section>
<% end %>
