<header class="bg-gray-500 p-4 text-white">
   <h1 class="font-sans text-3xl font-bold">Dashboard</h1>
</header>
<main class="px-4 py-8 grid gap-4">
  <% @notes.each do |note| %>
   <article class="px-2 py-4 border-solid border-2 border-opacity-20 border-gray-500">
     <h2 class="font-sans text-2xl font-semibold"> <%= note.title %></h2>
     <div class="py-4">
       <p class="font-sans"> <%= note.body %></p>
     </div>
     <hr>

     <%
       date_time = note.created_at.to_s.split(' ')
       date = date_time.first
       time = date_time.second
     %>
     <span class="font-mono text-xs text-gray-500 text-opacity-50">Created: <%= date %> at <%= time %> </span>

   </article>
  <% end %>
</main>
